{% extends '::base.html.twig' %}

{% block body %}

<div id="formulaire">
    <div class="container">
        <div class="col-xs-offset-3 col-lg-6">
        <h1>Inscription au site</h1>
{{form(form)}}
        </div>
    </div>
</div>
  
{% endblock %}
